.banner {
  background-image: url("../../images/background.png");
  background-size: cover;
  height: 400px;
}


.banner .container {
  color: white;
  text-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 120px;
}
