.footer {
  background-color: grey;
  height: 130px;
  margin-top: 30px;
}

.social-logos {
  text-align: center;
  padding-top: 30px;
}

.footer a {
  padding-inline: 10px;
}

.footer p {
  text-align: center;
  color: #C0DACF;
}
